<include file="Public/header" />
<hr>

<div style="padding:10px">
		<a href="__APP__/home/user/userIntro?uid={$list.wangping.uid}"><span style="color:red;font-size:20px;">{$list.wangping.name}</span></a><br>
		<span style="color:#898788;font-size:14px;margin-top:5px;">{$list.wangping.time|date="Y-m-d",###}</span>
		<button id="add_follow" uid="{$list.wangping.uid}" style="display:block;float:right;margin-top:-15px;border:0;background:#C7060B;height:30px;width:70px;color:white;border-radius:3px;"><?php if($guanzhu==0){ ?>+关注<?php }else{ ?>取消关注<?php } ?></button>
	<div style="border:solid 1px #E9E7E7;padding:10px">
	
	<p style="font-size:20px;"><?php if($list['wangping'][0]['type']==1){ ?>{$list.wangping.store_name}&nbsp;{$list.wangping.province}&nbsp;{$list.wangping.city}&nbsp;

{$list.wangping.0.district}&nbsp;<?php }else{ ?>{$list.wangping.address}<?php } ?></p>
	<div>
		<p style="text-indent:2em">{$list.wangping.content}</p>
	</div>
	<!-- <p style="margin-bottom:15px">发布时间：{$list.wangping.time|date="Y-m-d",###}&nbsp;&nbsp;&nbsp;&nbsp;评论数：{$list.wangping.comment_count}</p> -->
	
	<div>
		<volist name="list.wangping.imgArr" id="arr">
			<img class="imgInfo" src="__APP__/{$arr}" style="width:30%;">&nbsp;&nbsp;
		</volist>
	</div>
	<div style="color:#888785;height:30px;line-height:30px;font-size:12px;">
		<img src="__APP__/Public/static/img/pinglun.jpg" style="vertical-align: middle;">&nbsp;评论({$list.wangping.comment_count})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|

&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="__APP__/Public/static/img/xingxing.jpg" style="vertical-align: middle;">&nbsp;收藏({$list.wangping.collect_count})
	</div>
	
	<div style="width:100%;margin:10px auto">
		<textarea id="reply" style="width:100%;height:60px;margin:0 auto;border:solid 1px #858585"></textarea>
		<span style="color:#797979;margin-top:10px;display:block;float:left;">(限定120个字)</span>
		<button id="doreply" style="display:block;border:0;background:#838383;border-radius:3px;float:right;width:80px;height:30px;margin-top:7px;color:white">发送评论</button>
		<button id="collect" style="border:0;background:#838383;border-radius:3px;color:white;display:block;float:right;width:80px;height:30px;margin-top:7px;margin-right:10px"><?php if($shoucang==1){ echo "已收藏";}else{echo "☆收藏";} ?></button>
		<div style="clear:both"></div>
	</div>
</div>
	<volist name="list.pinglun" id="row">
		<div style="margin:10px auto">
			<a href="__APP__/home/user/userIntro?uid={$row.uid}"><div style="float:left;width:55px;;">
				<img src="__APP__/<?php if(empty($row['image'])){echo "Public/static/img/default_big.jpg";}else{echo 'Uploads/Picture/User/'.$row['image'];} ?>" style="display:block;width:50px;height:50px;vertical-align: middle;">
			</div></a>
			<div style="font-size:14px;float:left;width:80%">
				<a href="__APP__/home/user/userIntro?uid={$row.uid}"><span style="display:block;width:40%;color:red">{$row.name}:</span></a>
				<div style="vertical-align:middle;width:100%;display:inline-block;border:0;margin-top:10px;">{$row.content}</div>
				<!-- <span style="display:block;text-align:left">评论时间：{$row.time|date="Y-m-d",###}</span> -->
				<div class="huifuid" name="{$row.uid}" style="display:none">{$row.id}</div>
				<p style="margin-top:10px;margin-bottom:10px;color:#838383"><span>{$row.time|date="Y-m-d",###}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="reply" style="border:0;text-decoration: underline;">回复</span></p>
				<div style="clear:both"></div>
			</div>
			<div style="clear:both"></div>
			<volist name="row.list" id="inrow" offset="0" length="5">
			<div style="padding-left:50px;margin-bottom:10px;">
				<div style="float:left;width:55px;;">
					<img src="__APP__/<?php if(empty($inrow['image'])){echo "Public/static/img/default_big.jpg";}else{echo 'Uploads/Picture/User/'.$inrow['image'];} ?>" style="display:block;width:50px;height:50px;vertical-align: middle;">
				</div>
				<span style="color:red">{$inrow.name}&nbsp;&nbsp;<span style="color:black">回复</span>&nbsp;&nbsp;{$inrow.rename}</span>：&nbsp;
				<span>{$inrow.content}</span>
				<div style="clear:both"></div>
			</div>
			</volist>
		</div>
	</volist>
</div>
<div id="rid" style="display:none">{$id}</div>
<div style="text-align:center;margin-bottom:15px">{$page}</div>


<!-- 图片查看层 -->

<div id="imgInfo" style="width:100%;height:100%;position:fixed;background:black;display:none;z-index:9999999;top:0;bottom:0">
	
</div>

<!-- 模态框 -->
<div id="mode" style="display:none;width:100%;margin:0 auto;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.5);z-index:9999">
	<div style="width:90%;height:200px;background:white;max-width:768px;top:120px;position:fixed;left:5%">
		<textarea id="recontent" style="width:90%;height:100px;margin:20 auto;display:block"></textarea>
		<div style="text-align:center"><button id="sure">确认</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="quxiao">取消</button></div>
	</div>
</div>

<script type="text/javascript">

	
	var obj = document.getElementById('imgInfo');
	var startX;var endX;
	var nowImg;
	obj.addEventListener('touchstart', function(event) {
	     // 如果这个元素的位置内只有一个手指的话
	    if (event.targetTouches.length == 1) {
			// event.preventDefault();// 阻止浏览器默认事件，重要 
	        var touch = event.targetTouches[0];
	        // 把元素放在手指所在的位置
	        startX=touch.pageX; //记录开始时手指的X坐标
        }
	}, false);
	obj.addEventListener('touchmove', function(event) {
	     // 如果这个元素的位置内只有一个手指的话
	    if (event.targetTouches.length == 1) {
			event.preventDefault();// 阻止浏览器默认事件，重要 
	       var touch = event.targetTouches[0];
	        // 把元素放在手指所在的位置
	        endX=touch.pageX; 
        }
	}, false); 
	obj.addEventListener('touchend', function(event) {
	     // 如果这个元素的位置内只有一个手指的话
	    // if (event.targetTouches.length == 1) {
			// event.preventDefault();// 阻止浏览器默认事件，重要 
	        // var touch = event.targetTouches[0];
	        // 把元素放在手指所在的位置

			var screenHeight=window.screen.height;
			var screenWidth=window.screen.width;
	        if(endX<startX){
	        	if(typeof(nowImg.next().attr('src'))!='undefined'){
					nowImg=nowImg.next();
				}
			}else if(endX>startX){
				if(typeof(nowImg.prev().attr('src'))!='undefined'){
					nowImg=nowImg.prev();
				}
			}

			var path=$(this).attr("src");
			var path=nowImg.attr("src").split("/");
			path[path.length-1]=path[path.length-1].substr(7);
			var imgPath='';
			for(var i=1;i<path.length;i++){
				imgPath += "/"+path[i];
			}
			/*计算图片位置*/
			var img = new Image();
			img.src=imgPath;
			// $('body').css({"overflow":"scroll","overflow-y":"hidden"});
			$('#imgInfo').html("<div style='width:"+screenWidth+"px;height:"+screenHeight+"px;display:table-cell;text-align:center;vertical-align:middle;overflow:hidden'><img src='"+imgPath+"' style='max-width:"+screenWidth+"px' ></div>");
		
				// alert('asdf');
	        
        // }
	}, false); 

	//执行关注和取消关注
	$('#add_follow').click(function(){
		$(window).scroll(function(){
			return false;
		});
		var id=$(this).attr("uid");
		if($(this).text()=="+关注"){
			var act='add';
		}else{
			var act='del';
		}
		// alert(id);return false;
		$.post('__APP__/home/act/follow',{id:id,act:act},function(data){
			alert(data.msg);
			if(data.status==1){
				window.location.href=window.location.href;
			}
		},'json')
	});
	//回复主题
	$('#doreply').click(function(){
		var content=$('#reply').val();  //回复的内容
		var id=$('#add_follow').attr("uid");  //发帖人ID
		var rid=$('#rid').text();    //主题的ID
		if(content==''){
			alert("请输入内容");
			return false;
		}
		$.post('__APP__/home/act/replay',{uid:id,content:content,rid:rid},function(data){
			alert(data.msg);
			if(data.status==1){
				window.location.href=window.location.href;
			}
			if(data.status==-2){
				alert("请先登录");
				window.location.href="__APP__/home/user/login";
			}
		},'json')
	});
	var pid;
	var reuid;
	$('.reply').click(function(){
		$('#mode').show();
		pid=$(this).parent().prev('.huifuid').text(); //楼ID
		reuid=$(this).parent().prev('.huifuid').attr("name");
	});
	$('#quxiao').click(function(){
		$('#recontent').val('');
		$('#mode').hide();
	});
	$('#sure').click(function(){
		var content=$('#recontent').val();  //回复的内容
		var id=$('#add_follow').attr("uid");  //发帖人ID
		var rid=$('#rid').text();    //主题的ID 
		if(content==''){
			alert("请输入内容");
			return false;
		}
		$.post('__APP__/home/act/replay',{uid:id,content:content,rid:rid,pid:pid,reuid:reuid},function(data){
			alert(data.msg);
			if(data.status==1){
				$('#recontent').val('');
				$('#mode').hide();
			}
			if(data.status==-2){
				window.location.href="__APP__/home/user/login";
			}
		},'json')
	});
	$('#collect').click(function(){
		if($(this).text()=='已收藏'){
			alert('已经收藏该评论');
			return false;
		}
		var rid=$('#rid').text();    //主题的ID 
		$.post('__APP__/home/act/collect',{rid:rid},function(data){
			alert(data.msg);
		},'json')
	});

	$('.imgInfo').click(function(){
		if(document.getElementById("imgInfo").style.display=="none"){ 
			nowImg=$(this);
			var screenHeight=window.screen.height;
			var screenWidth=window.screen.width;
			// var path=$(this).attr("src");
			var path=$(this).attr("src").split("/");
			path[path.length-1]=path[path.length-1].substr(7);
			var imgPath='';
			for(var i=1;i<path.length;i++){
				imgPath += "/"+path[i];
			}
			/*计算图片位置*/
			var img = new Image();
			img.src=imgPath;
			document.getElementsByTagName('meta')[1].content="minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0";
			$('#imgInfo').fadeIn(1000);
			$('#imgInfo').prevAll().each(function(){$(this).hide()});
			// $('body').css({"overflow":"scroll","overflow-y":"hidden"});
			$('#imgInfo').html("<div style='width:"+screenWidth+"px;height:"+screenHeight+"px;display:table-cell;text-align:center;vertical-align:middle;overflow:hidden'><img src='"+imgPath+"' style='max-width:"+screenWidth+"px' ></div>");
		}
		// alert(marginTop);
	});

	$('#imgInfo').click(function(){
		
		$('#imgInfo').prevAll().each(function(){$(this).show();});$(this).fadeOut(1000);
		// $('body').css('overflow','auto');
		document.getElementsByTagName('meta')[1].content="minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0,user-scalable=no";
	});

	$('#reply').focus(function(){
		$('#public_foot').hide();
	});
	$('#recontent').focus(function(){
		$('#public_foot').hide();
	});
	$('#reply').blur(function(){
		$('#public_foot').show();
	});
	// var screenHeight=document.body.clientHeight;
	// if(screenHeight!=document.body.clientHeight){
	// 	$('#reply').toggle();
	// }

</script>


<include file="Public/footer" />


<!-- <span style="position:absolute;left:70px">昵称：{$list.wangping.name}</span><br>
		<span style="margin-left:60px;">关注：{$list.wangping.follow_count}</span>
		<span style="margin-left:20px;">被关注：{$list.wangping.fans_count}</span> -->
		