<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<script type="text/javascript" src="__APP__/Public/static/js/jquery.js"></script>
<meta name="viewport" content="minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
	<title>无标题</title>
	<style type="text/css">
		body{
			font-size: 16px;
		}
	</style>
</head>
<body>
<!-- <p><a href="__APP__/home/index"><<返回首页</a></p> -->
<p>
	<img src="__APP__/public/static/img/x1.png" style="display:block;float:right;width:20px;height:20px" id="close" onclick="javascript:history.go(-1)">
	<div style="clear:both"></div>
</p>
<p style="text-align:center;margin-top:-20px;"><img src="__APP__/Public/static/img/letter.jpg" style="display:block;width:80%;margin:0 auto"></p>
<p>亲爱的朋友们：</p>

<p style="color:red">你是否曾经遇到过以下不良商家：</p>

<p>上网购买商品时店家承诺30天无效退款，售后却找不到人；</p>

<p>买到伪劣产品，商家以使用过为由不予退换；</p>

<p>买东西买到假货，商家一句“商品一经出柜概不负责”应付消费者；</p>
<p>以搞活动为名义，抬高商品价格再以打折方式作促销活动；</p>

<p>去餐厅吃饭时菜量不足，老板含糊其词不正面回应；</p>

<p>买到假的化妆品，护肤不成反被毁容，商家回应是顾客自身过敏；</p>

<p>买家具被商家敲诈恐吓后打12315电话投诉却迟迟得不到处理；
…….</p>

  <p style="text-indent: 2em;">当我们遇到类似情况时，我们也曾试过去相关部门投诉，工商局、消费者协会……我们信任这些相关部门，将问题反馈给他们，但是得到的结果无一不是能拖就拖，互相推诿，像踢足球一样你踢给我我踢给你，根本不把百姓的利益放在第一位，<span style="color:red">相关部门如此不作为，我们普通的消费者该怎么办！</span></p>

  <p style="text-indent: 2em;">这些都是活生生的例子！也许在你看到类似新闻时会震惊，会愤怒！但却不会因此改变你的行为，也许你现在会觉得离你的生活很远，继续事不关已高高挂起，但说不定哪一天就会发生在你自己的身上！</p>

  <p style="text-indent: 2em;">我们没权没势，也不是社会名流，我们只是普通公民，当我们的权益无法得到保障的时候，我们就要站出来为自己维权！可是当面维权有可能危及我们的人身安全，怎么办呢。<span style="color:red">在投诉无门的情况下，我们想到了自己做个网站--网评如潮因此诞生！一个专为差评而生的网站！</span>为了让所有在购物中受到过不公平待遇的人联合起来，利用舆论力量给不法商家施加压力，从而维护我们自身的权益。</p>

  <p style="text-indent: 2em;"><span style="color:red">朋友们，是时候站出来为自己讨回公道了！</span>也许你现在还没听过网评如潮，也许你现在不知道网评如潮的力量，但是当某一天，你看到越来越多的商家不法行为在网评如潮上曝光，越来越多的商家因为网评如潮的群众舆论力量“改邪归正”
，越来越多的消费者得到公正对待，当你要买一件东西时你会先上网评如潮查看潮友评论，当你受到不公正对待时，可以通过网评如潮让商家给你一个答复…….那时你就会了解，这就是网评如潮，这就是我们草根团队的共同愿望！我们虽是草根，但我们却心怀天下。<span style="color:red">我们虽然没有高端的技术，也没有庞大的财团势力，但我们有“邪不胜正”的强烈信念，只要心存信念，草根也能逆袭！</span></p>

<p style="color:red">让我们一起挑战消费潜规则，购物不满意就要大声说出来！</p>
<script type="text/javascript">
</script>
</body>
</html>







