<include file="Public/header" />

<div style="border:solid 1px black;box-shadow:1px 1px 1px #838383;border-radius:3px;width:96%;margin:10px auto;margin-top:10px;">
	<div style="height:40px;width:94%;margin:10px auto;margin-top:30px;">
		<input placeholder="请输入产品名/网址/实体店名" type="text" id="content" style="height:40px;vertical-align: middle;width:80%;font-size:18px;">
		<img id="search" src="__APP__/Public/static/img/search.jpg" style="vertical-align: middle;height:40px;">
	</div>
	<div style="text-align:left;margin-left:3%">
		<input type="checkbox" style="" id="wangzhi" value="wangzhi">&nbsp;&nbsp;搜网址&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="checkbox" id="shiti" value="shiti">&nbsp;&nbsp;搜实体店
	</div>
	<div style="width:96%;margin:10 auto">
		<div id="area" style="overflow:hidden">
			<span style="display:block;float:left;font-size:16px;">地区:</span>
			<!-- <div class="t1" style="float:left;margin-left:10px;margin-bottom:0">
	            <select name="province" id="province">
	            </select>
	            <select name="city" id="city">
	            </select>
                <select name="county" id="county">
                </select>
	        </div> -->
	        <div>
	        <select id="s_province" name="s_province"></select>&nbsp;&nbsp;
	        <select id="s_city" name="s_city" ></select>&nbsp;&nbsp;
	        <select id="s_county" name="s_county"></select>
	        
	        <script type="text/javascript">_init_area();</script>
	        </div>
	        <div id="show"></div>
	    </div>
       	</div>
	</div>
</div>

<script type="text/javascript">
	// setup();
	var Gid  = document.getElementById ;
	
	// Gid('s_county').setAttribute('onchange','showArea()');
	var url="__APP__/home/index/search?"
	//执行搜索操作
	$('#search').click(function(){
		if($('#shiti').prop("checked")){
			url+="shiti=1&";
		}
		if($('#wangzhi').prop("checked")){
			url+="wangzhi=1&";
		}
		if($('#s_province').val()!="省份"){
			url+="province="+$('#s_province').val()+"&";
		}
		if($('#s_city').val()!="地级市"){
			url+="city="+$('#s_city').val()+"&";
		}
		if($('#s_county').val()!="市、县级市"){
			url+="county="+$('#s_county').val()+"&";
		}
		url+="kword="+$('#content').val()+'&';
		// alert(url);
		window.location.href=url;
	});

</script>

<include file="Public/footer" />